body{
    background-color:#f5f7fa;
    font-family:'Segoe UI',sans-serif;
}

.navbar-custom{
    background:#1f2937;
}

.page-card{
    background:white;
    border-radius:12px;
    padding:20px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.dashboard-title{
    font-weight:700;
    color:#1f2937;
}

.stat-card{
    background:white;
    border-radius:12px;
    padding:20px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

.table-container{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

.action-btn{
    margin-right:5px;
}

.login-container{
    width:450px;
    margin:auto;
    margin-top:100px;
}

.login-card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.15);
}